# Application Environment
APP_ENV=development

# Development Port
DEV_PORT=8080

# Production Port
PROD_PORT=8372

# Secret Keys & Salt
HASH_KEY="John Doe"
JWT_KEY="Jane Joe"
SALT_ROUNDS=2

# SQL Configuration
SQL_CONNECTION_LIMIT=10
SQL_HOST="localhost"
SQL_USERNAME="root"
SQL_PASSWORD="root"

